<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitIssuesManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GitIssuesManager.Properties.Settings>
            <setting name="GitHubUserToken" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="GitLabUserToken" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="BitbucketUserToken" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>LucasCichon</value>
            </setting>
        </GitIssuesManager.Properties.Settings>
    </userSettings>
</configuration>